In [1]:
# Import initial libraries
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt
import plotly.graph_objs as go
%matplotlib inline
# Imports in order to be able to use Plotly offline.
from plotly import __version__
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
print(__version__) # requires version >= 1.9.0
init_notebook_mode(connected=True)

4.11.0

In [2]:
df = pd.read_csv('SP500_Companies.csv')
df

,Ticker,Company,GICS Sector,GICS Sub Industries
0,AMD,AMD,Information Technology,Semiconductors
1,ED,Con Edison,Utilities,Electric Utilities
2,GLW,Corning,Information Technology,Electronic Components
3,DHR,Danaher,Health Care,Health Care Equipment
4,DRI,Darden Restaurants,Consumer Discretionary,Restaurants
...,...,...,...,...
500,MTCH,Match Group,Communication Services,Interactive Media & Services
501,EPAM,EPAM Systems,Information Technology,IT Consulting & Other Services
502,FDS,FactSet,Financials,Financial Exchanges & Data
503,SBNY,Signature Bank,Financials,Regional Banks
504,SEDG,SolarEdge,Information Technology,Semiconductor Equipment

In [3]:
df.to_csv('500.csv')